*{
    box-sizing: border-box;
}
h1,p{
    color:rgb(77, 17, 134)
}
main{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 90px;
    background:pink;
    padding-bottom: 40px;;
}
.container-card{
display:flex;
flex-wrap: wrap;
gap:8px;
margin-bottom:5px;
}


.card{
    
    
height:120px;
width:150px;
transform-style: preserve-3d;
    transform: scale(1);
    transition-duration: .5s;
}

.card-active{
    
transform: scale(.97);
transition-duration: .2s;
transition:transform .2s;
}    
    
.matched{
    opacity:.6;
}
.card img{
width:60px;
height:60px;
object-fit: contain;
     
   
}
.front,.back{
border:2px solid;
border-radius: 6px;
display:flex;
position:absolute;

width:100%;
height:100%;
backface-visibility: hidden;
justify-content: center;
align-items: center;
}

.front{
background-color: rgb(71, 108, 143);

}
.back{
    background-color: pink;
    transform: rotateY(180deg);
    
}

.flipping{
    transform: rotateY(180deg);
    
}